body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
}

#header-nav {
	background-color: blue;
	border-radius: 0;
	border: 0;
}
#logo-image {
	background:url('../images/images.png') no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px;
}